main {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    background-color: #00A54B;
    padding: 50px;
}

ul {
    /* background-color: #00A54B; */
    padding-inline-start: 0;
    list-style-type: none;
    text-align: left;
}

li {
    background-color: #00FF74;
    margin: 5px;
}

.completed {
    text-decoration: line-through;
    color: grey;

}
